* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.home-container {
  min-height: 550px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
}

.nav-logo {
  display: flex;
  flex: 30%;
  background-color: red;
}

.logo {
  display: flex;
  background-color: hotpink;
  width: 60px;
}

.nav-ul {
  list-style: none;
}

.nav-ul > li > a {
  display: block;
  padding: 1.5rem 1rem 1.5rem 1rem;
  text-decoration: none;
  color: orangered;
}

.nav-ul > li > a:hover {
  background-color: rgb(235, 235, 235);
}

.font-awesome-icon {
  flex: 70%;
}

.nav-links {
  flex: 100%;
}

@media all and (min-width: 600px) {
  .nav-links {
    flex: 1;
  }
  .nav-logo {
    flex: 0.3;
  }
  .nav-ul {
    display: flex;
  }
  .font-awesome-icon {
    display: none;
  }
}
